name: Daily Commits

on:
  schedule:
    - cron: "0 0 * * *"   # once per day
  workflow_dispatch:

permissions:
  contents: write   

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set Git identity
        run: |
          git config --global user.name "Saswat Rath"
          git config --global user.email "saswat@users.noreply.github.com"

      - name: Make 5 commits
        run: |
          for i in 1 2 3 4 5
          do
            echo "Auto commit $(date) $i" >> spam.txt
            git add spam.txt
            git commit -m "Daily auto commit $i"
          done

      - name: Push changes
        run: |
          git push
